<div id="eventPage">
  <ul class="nav cust-nav">
    <li style="text-align:center">
      <button class="btn btn-info" ng-click="openHighScores()">Leaderboard</button>
    </li>

    <li ng-repeat="question in event.questions">
      <a class="nav-item" ng-class="{solved:question.solved}" ng-click="openQuestion($index)">
        <div>{{question.name}}</div>
        <div>{{question.subtitle}}</div>
      </a>
    </li>
  </ul>

  <div class="title test">{{event.name}}</div>
  <hr>
  <div class="subview" ui-view>
    <div ng-show="event.available">Choose a question on the side to get started.</div>
    <div ng-show="!event.available">Looks like the competition hasn't started yet.</div>
  </div>
</div>
