<div class="subtitle">{{title}}</div>

<tabset>
  <tab ng-repeat="tab in tabs" heading="{{tab.heading}}">
    <div ng-show="!tab.tables.length">No one's solved anything yet!</div>
    <div ng-repeat="table in tab.tables">
      <div ng-show="table.heading" class="subtitle">{{table.heading}}</div>
      <div ng-show="!table.data.length">No one's solved anything yet!</div>
      <table class="table table-striped table-hover" ng-show="table.data.length">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th ng-repeat="label in table.labels">{{label.lbl}}</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in table.data | successful:success | filter:search" ng-click="show(result, tab.heading)">
            <td><img ng-src="http://www.gravatar.com/avatar/{{result.gravatar}}?d=retro&r=pg" style="border-radius:40px"></td>
            <td style="color:{{result.success && 'green' || 'red'}}">{{result.user}}</td>
            <td ng-repeat="label in table.labels">{{result[label.key]}}</td>
            <td>{{result.time | date:'h:mm:ss a'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </tab>
</tabset>
