<div class="title">{{question.name}}</div>

<div>- {{question.subtitle}} -</div>

<div class="pre indent-in">{{question.desc}}</div>

<div class="bold-label">Input:</div>
<div class="pre indent-in">{{question.input}}</div>

<div class="bold-label">Output:</div>
<div class="pre indent-in">{{question.output}}</div>


<div class="bold-label">Example Input:</div>
<div class="pre indent-in">{{question.eInput}}</div>

<div class="bold-label">Example Output:</div>
<div class="pre indent-in">{{question.eOutput}}</div>

<div ng-show="!question.solved">
  <form>
    <button class="btn" ng-click="downloadInput()">Get Input</button>

    <div>
      <span>Output:</span>
      <input type="file" ng-file-select="setFile('out', $files)">
    </div>

    <div>
      <span>Source Code:</span>
      <input type="file" ng-file-select="setFile('src', $files)">
    </div>

    <button class="btn" ng-click="submitAnswer()">Submit Answer</button>
  </form>
</div>

<div ng-show="question.solved" class="alert alert-success">
  Congrats!! You've already solved this one!!
</div>
