#adminPage
  background-color: white

  .title
    font-size: 36px

  .subtitle
    font-size: 24px
    text-align: center

  .subview
    margin-left: 120px

  .cust-nav
    float: left
    height: 100%
    background-color: $nav_color
    padding: 10px 0
    position: fixed

  .cust-nav2
    background-color: $nav2_color
    padding: 10px 0
    position: fixed

  .active-item
    position: relative

    .triangle
      display: block

  .triangle
    display: none
    background: white
    position: absolute
    top: 10px
    right: 0
    height: 0
    border: 10px solid $nav_color
    border-right: 12px solid white

    &.is-second-nav
      border: 10px solid $nav2_color
      border-right: 12px solid white

    &.is-result-tab
      border-right: 12px solid $nav2_color

  .nav-item
    padding: 10px
    width: 100px
    color: #1bdbff

    &:hover
      color: $nav_hover_text

      &+.triangle
        border: 10px solid $nav_hover_color
        border-right: 12px solid white

        &.is-result-tab
          border-right: 12px solid $nav2_color

  .desc-box
    max-width: 250px
    word-break: break-word
    max-height: 100px
    overflow: scroll

.q-area
  width: 530px

.q-input
  display: inline-block
