#footer {
  position: fixed;
  bottom: 0;
  color: #fff;
  background-color: #586c7b;
  width: 96%;
  padding: 4px 50px;
}
#footer #alerts {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 110px;
}
#footer .foot-wrapper {
  width: 80%;
}
#adminPage .subview {
  margin-left: 150px;
}
#adminPage .nav {
  float: left;
  height: 100%;
  background-color: #535353;
  padding: 10px 0;
}
#adminPage .nav-item {
  padding: 10px;
  width: 100px;
  color: #1bdbff;
}
#adminPage .nav-item:hover {
  color: #535353;
}
#adminPage .desc-box {
  max-width: 250px;
  word-break: break-word;
  max-height: 100px;
  overflow: scroll;
}
.q-area {
  width: 530px;
}
.q-input {
  display: inline-block;
}
.event {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid;
}
.event:last-child {
  border-bottom: none;
}
.event:hover {
  background-color: #a77a7a;
}
.event.available:hover {
  background-color: #7aa77a;
}
#eventPage .subview {
  margin-left: 150px;
}
#eventPage .nav {
  float: left;
  height: 100%;
  background-color: #535353;
  padding: 10px 0;
}
#eventPage .nav-item {
  padding: 10px;
  width: 100px;
  color: #1bdbff;
}
#eventPage .nav-item:hover {
  color: #535353;
}
#eventPage .indent-in {
  padding: 0 0 10px 50px;
}
.title {
  padding: 20px 0;
  font-size: 36px;
  font-weight: bold;
}
.no-pre {
  background-color: inherit;
  border: none;
}
