@import shared

@import footer
@import admin
@import events

.title
  padding: 20px 0
  font-size: 36px
  font-weight: bold

.no-pre
  background-color: inherit
  border: none

.pre
  white-space: pre-wrap

.bold-label
  font-weight: bold



#view
  padding-bottom: 40px
  padding-top: 40px

.navbar-inner
  border: none

.navbar-static-top
  position: fixed
  width: 100%

.test
  margin-left: 150px
