#footer {
  position: fixed;
  bottom: 0;
  color: #fff;
  background-color: #586c7b;
  width: 96%;
  padding: 4px 50px;
}
#footer #alerts {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 110px;
}
#footer .foot-wrapper {
  width: 80%;
}
@media (max-width: 690px) {
  #footer .footer-msg {
    display: none;
  }
}
#adminPage .subview {
  display: inline-block;
  max-width: 820px;
  overflow: scroll;
}
#adminPage .nav {
  float: left;
  height: 100%;
  background-color: #535353;
  padding: 10px 0;
}
#adminPage .nav-item {
  padding: 10px;
  width: 100px;
  color: #1bdbff;
}
#adminPage .nav-item:hover {
  color: #535353;
}
#adminPage .event-create {
  float: left;
  margin-right: 15px;
  border-right: 1px solid #eee;
  padding-right: 15px;
}
#adminPage .event-list {
  float: left;
  width: 547px;
}
#adminPage .desc-box {
  max-width: 250px;
  word-break: break-word;
  max-height: 100px;
  overflow: scroll;
}
