#footer {
  position: fixed;
  bottom: 0;
  color: #fff;
  background-color: #111;
  width: 96%;
  padding: 4px 50px;
}
#footer #alerts {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 110px;
}
#footer .foot-wrapper {
  width: 80%;
}
#footer a {
  color: #6cceff;
}
#footer a:hover {
  color: #0090d8;
}
#adminPage {
  background-color: #fff;
}
#adminPage .title {
  font-size: 36px;
}
#adminPage .subtitle {
  font-size: 24px;
  text-align: center;
}
#adminPage .subview {
  margin-left: 120px;
}
#adminPage .cust-nav {
  float: left;
  height: 100%;
  background-color: #111;
  padding: 10px 0;
  position: fixed;
}
#adminPage .cust-nav2 {
  background-color: #333;
  padding: 10px 0;
  position: fixed;
}
#adminPage .active-item {
  position: relative;
}
#adminPage .active-item .triangle {
  display: block;
}
#adminPage .triangle {
  display: none;
  background: #fff;
  position: absolute;
  top: 10px;
  right: 0;
  height: 0;
  border: 10px solid #111;
  border-right: 12px solid #fff;
}
#adminPage .triangle.is-second-nav {
  border: 10px solid #333;
  border-right: 12px solid #fff;
}
#adminPage .triangle.is-result-tab {
  border-right: 12px solid #333;
}
#adminPage .nav-item {
  padding: 10px;
  width: 100px;
  color: #1bdbff;
}
#adminPage .nav-item:hover {
  color: #535353;
}
#adminPage .nav-item:hover+.triangle {
  border: 10px solid #eee;
  border-right: 12px solid #fff;
}
#adminPage .nav-item:hover+.triangle.is-result-tab {
  border-right: 12px solid #333;
}
#adminPage .desc-box {
  max-width: 250px;
  word-break: break-word;
  max-height: 100px;
  overflow: scroll;
}
.q-area {
  width: 530px;
}
.q-input {
  display: inline-block;
}
#preEvent .event {
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid;
}
#preEvent .event:last-child {
  border-bottom: none;
}
#preEvent .event:hover {
  background-color: #ddd;
}
#preEvent .event.available .ready {
  color: #008000;
}
#preEvent .ready {
  color: #f00;
  font-size: 20px;
}
#preEvent .title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}
#eventPage {
  background-color: #fff;
}
#eventPage .file-box {
  background-color: #bdbde9;
  padding: 12px;
  width: 400px;
}
#eventPage .file-label {
  display: inline-block;
  width: 110px;
  vertical-align: top;
}
#eventPage .file-btn {
  width: 100%;
}
#eventPage .title {
  margin-left: 150px;
  padding: 40px;
  border-bottom: 1px solid;
  font-size: 36px;
  font-weight: bold;
  background-color: #cacaca;
  -webkit-box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}
#eventPage .subtitle {
  text-align: center;
  font-size: 24px;
  padding-bottom: 30px;
}
#eventPage .subview {
  margin-left: 150px;
  max-width: 700px;
}
#eventPage .cust-nav {
  float: left;
  height: 100%;
  background-color: #111;
  padding: 10px 0;
  position: fixed;
  width: 150px;
}
#eventPage .nav-item {
  padding: 10px;
  max-width: 200px;
}
#eventPage .nav-item .place {
  color: #ff5a5a;
}
#eventPage .nav-item .name {
  color: #8ee4ff;
}
#eventPage .nav-item .checked {
  display: none;
  background: url("../img/check.png");
  width: 50px;
  height: 45px;
  position: absolute;
  top: 5px;
  right: 0;
}
#eventPage .nav-item.selected {
  background-color: #3d3d3d;
}
#eventPage .nav-item.selected:hover {
  background-color: #eee;
}
#eventPage .nav-item.solved {
  position: relative;
}
#eventPage .nav-item.solved .checked {
  display: block;
}
#eventPage .nav-item:hover .place {
  color: #ac4747;
}
#eventPage .nav-item:hover .name {
  color: #417f92;
}
#eventPage .indent-in {
  padding: 0 0 10px 50px;
}
a {
  cursor: pointer;
}
.pre {
  white-space: pre-wrap;
}
.bold-label {
  font-weight: bold;
}
#view {
  padding-bottom: 28px;
  padding-top: 40px;
}
#view #inner {
  background-color: #808080;
}
.navbar-inner {
  border: none;
}
.navbar-static-top {
  position: fixed;
  width: 100%;
}
.pad-content {
  padding: 20px 50px;
}
.shadow-box {
  background-color: #fff;
  height: calc(100% - 60px);
  min-height: 410px;
  -webkit-box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
  padding: 0 50px;
}
.container {
  width: initial;
  max-width: 940px;
}
