.event
  padding: 10px
  cursor: pointer
  border-bottom: 1px solid

  &:last-child
    border-bottom: none

  &:hover
    background-color: #a77a7a

  &.available
    &:hover
      background-color: #7aa77a

#eventPage

  .subview
    margin-left: 150px

  .cust-nav
    float: left
    height: 100%
    background-color: #111 //rgb(83, 83, 83)
    padding: 10px 0
    position: fixed

  .nav-item
    padding: 10px
    max-width: 200px
    color: rgb(27, 219, 255)

    &.solved
      color: green

    &:hover
      color: rgb(83, 83, 83)

  .indent-in
    padding: 0 0 10px 50px
