#footer
  position: fixed
  bottom: 0
  color: white
  background-color: #111
  width: 96%
  padding: 4px 50px

  #alerts
    position: absolute
    width: 50%
    bottom: 0
    right: 110px

  .foot-wrapper
    width: 80%

  a
    color: #6CCEFF

    &:hover
      color: #0090D8
