 <html ng-app>
 <head>
   <title>Coding by hand!</title>
 </head>
 <body ng-controller='controller'>
   <h5>This is my page and stuff!</h5>
   <h3>Thank you Linda Duhadway, for teaching me to code by hand</h3>

   <input type="text" ng-model='input1'>

   {{4 + 7}}

   {{input1}}

   {{test}}
   <p>Pick the index of your favorite fib number</p>
   <select ng-model="favFib" ng-options='fib for fib in fibs'></select>


   {{favFib}}

   <div ng-repeat='index in range(favFib)'>
     <input type="text" ng-model="companies[index].name">
     <input type="text" ng-model="companies[index].a">
     <input type="text" ng-model="companies[index].x">
   </div>

   <pre>
     {{companies}}
   </pre>

   <ul>
   </ul>
   <script src='javascripts/jquery.js'></script>
   <script src="https:ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
 <script src='javascripts/main.js'></script>
 </body>
 </html>
