<div class="modal-header">
  <h3>Creating News Item</h3>
</div>

<div class="modal-body">
  <form>
    <label>Title:</label>
    <div><input type="text" ng-model="news.title"></div>

    <button class="btn btn-info" ng-click="addParagraph()">Add Paragraph</button>

    <div ng-repeat="p in news.paragraphs">
      <label>Paragraph {{$index + 1}}:</label>
      <div><textarea ng-model="p.text"></textarea></div>
    </div>
  </form>

<pre>{{news | json}}</pre>

</div>

<div class="modal-footer">
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success" ng-disabled="!news.title || !news.paragraphs[0].text" ng-click="create(news)">Create</button>
</div>
