<div class="modal-header">
  <h3>Creating Event</h3>
</div>

<div class="modal-body">
  <form>
    <label>Name:</label>
    <div><input type="text" ng-model="event.name"></div>

    <label>Description:</label>
    <div><textarea ng-model="event.description"></textarea></div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success" ng-disabled="!event.name || !event.description" ng-click="create(event)">Create</button>
</div>
