<div class="modal-header">
  <h3>Editing User: {{user.name}}</h3>
</div>

<div class="modal-body">
  <form>
    <label>First Name:</label>
    <input type="text" ng-model="user.first">
    <label>Last Name:</label>
    <input type="text" ng-model="user.last">
    <label>Email:</label>
    <input type="email" ng-model="user.email">
    <label>Is Admin:</label>
    <input type="checkbox" ng-model="user.isAdmin">
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success" ng-disabled="!user.first || !user.last || !user.email" ng-click="save(user)">Save</button>
</div>
